<div class="row container mx-auto justify-content-center p-5">
  <div class="row mb-5 d-flex justify-content-around">
    <div class="row d-flex justify-content-evenly">
      <button class="btn btn-custom-outline" routerLink="/picture">Foto astronómica del día</button>
    </div>
    <div class="col my-5 mx-3">
      <nasa-list [asteroidsList]="asteroids"
               (onDelete)="onDeleteAsteroid($event)"></nasa-list>
    </div>
    <div class="col my-5 mx-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



